
body, html{ height: 100%;
 box-sizing: border-box;}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}

.toppage {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(0,0,0,0.7) 100%), url(http://media.cleveland.com/ent_impact_home/photo/homefront-jason-statham-rancho-usajpg-40b701f5064a161f.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;	
	position:relative;
	margin-bottom: 0px;
	padding: 0px;
	overflow: hidden;
}

.toppage .container {
	position: relative; 
	top: 50%; z-index: 4; 
	text-align: center;
	}
.toppage .container > * {
	text-align: center; 
	color: #FFFFFF; }
.toppage .container h1 { 
	padding-bottom: 20px;
	border-bottom: 3px solid #FFFFFF; 
	border-bottom-color: rgba(255,255,255,0.35); 
	display: inline-block; } 
	
.toppage .container h2 { 
	padding-top: 20px;
	padding-bottom: 40px;	 
	display: inline-block; } 

.toppage .contact-icon{
	position: relative;
	top: 50%; 
	z-index: 4; 
	text-align: center;
	font-size: 30px;
	color: lightblue;
  }
  
.toppage .contact-icon a, toppage .contact-icon a:visited  {
	color: lightblue;
  }
.toppage .contact-icon. a:hover, toppage .contact-icon a:target {
  color: #ebebeb;
  font-size: 110%;
} 

.toppage .contact-icon a, toppage .contact-icon a:visited {
  color: #00a087;
}
.toppage .contact-icon a:hover, toppage .contact-icon a:target {
  color: #ebebeb;
  font-size: 110%;
}


.toppage .contact-download{
	
	position: relative;
	top: 50%; 
	z-index: 4; 
	text-align: center;
	font-size: 30px;
	color: #00a087;
}


.toppage .contact-download a, toppage .contact-download a:visited {
  color: #00a087;
}
.toppage .contact-download a:hover, toppage .contact-download a:target {
  color: #ebebeb;
  font-size: 110%;
}

.profolio{
	position:relative;
	margin-bottom: 0px;
	padding: 0px;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	display:block;
	margin: auto;
}

.title{
	width:100%;
	position: relative;
	top: 0%;
	z-index:4;
	text-align: center;	
	padding-top:100px;
	padding-bottom:0px;
	}

.profolio .container{
	position: relative;
	top: 30%;
	width: 70%;
	margin: auto;
	margin-top:100px;
	margin-bottom: 150px;
	height: auto;
	}
.profolio .container .picture{
	float: left;
	width:auto;	
	height: auto;
	text-align:center;
	margin-right: 30px;		/*leave space between the pic and text*/ 
    }
    
.profolio.personal-info{
	display: inline-block;	
	float:left;	
	text-align: left;
	padding-left: 20px;
	margin: 20px;
} 

.experience{
    /*background: linear-gradient(55deg,#4E75B9 30%,#5CBF98 90%);*/
    background: linear-gradient(180deg,#e9fff5 30%, #5C97BF 90%);
	position:relative;
	margin: auto;
	padding: 0px;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #F0F8FF;		
}

.timeline {
	width: 80%;
	max-width: 800px;	
	padding: 50px 50px;
	position: relative;
	margin:auto;
	margin-top: 100px;	 
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline::after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;  
  position: relative;
  padding-top: 20px;
}
.entry-title {
  margin-bottom: .5em;
  float: left;
  width: 30%;
  padding-right: 20px;
  text-align: right;
  position: relative;
}
.entry-title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -12px;
  z-index: 99;
}

.entry .entry-body {
 
  float: right;
  width: 60%;
  padding-left: 10px;
}

.entry .entry-body ul {
  color: #555;
  padding-left: 0;
  list-style-type: none;
}
.entry .entry-body ul li:before {
  content: "–";
  margin-right: .5em;
}

.skill{
   /* background: linear-gradient(55deg,#4E75B9 30%,#5CBF98 90%);*/
    background: linear-gradient(0deg,#e9fff5 10%, #5C97BF 80%);
	position:relative;
	margin: auto;
	padding: 0px;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;	
	background-color: #5C97BF ;	
}


.skill-container{
	padding-top:100px;
	padding-bottom:100px;
   width: 100%;
   margin:auto; 
   z-index:3;
   }

.skill-list{
	width: 60%;
	padding: 5px ;
	position: relative;
	margin:auto;	
	height:auto;
	display: flex;
  }
 
.skill-name{
	float: left;
	text-align:right;
	padding-right: 30px;
	width: 30%;
	
	}
	
.skill-name h3{
  font-weight: normal;
  }
.skill-stars{
	width:50%;
    float: right;
    text-align:right;   
    
    }
.gap{
    padding:10px;
    }

.skill-stars :hover, skill-stars:target {
  color: #ebebeb;
  font-size: 120%;
}

.project{ 
	position:relative;
	width:100%;
	margin: 0px;
	padding: 0px;
	height: auto;
	padding-bottom: 100px;
	background-position: center;
	background-repeat: no-repeat;		
}

.project-container{
   padding-top:130px;
   padding-bottom:0px;
   width: 80%;
   margin:auto; 
   z-index:3;
  }

.project-pic {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  overflow: hidden;
  position: relative;
  width: 30%;
  height: auto;
  cursor: pointer;
  text-align: center;
}

.project-pic img {
transition: 0.3s;
border-radius: 10px;
}

.project-pic:hover img {
 transform: scale(1.2);
 -webkit-transform: scale(1.2);
}

.project-pic:hover h2 {
   padding-top: 10%;
}

.projInfoContainer {
  position: absolute;
  background: rgba(5,5,5,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: 0.2s;
}
.projInfo-gap{
  padding:20px;
  }

.projInfoContainer h3{
 font-size: 120%;
 color:#FFF;
}
.project-pic h4{
	display:none;
	}

.project-pic:hover .projInfoContainer {
  opacity: 1;
}

.projCat {
  position: relative;
  color: #5cd9fd;
  font-weight: bold;
  top:20%;
}

.projSpec {
  position:relative;
 color: #aaa;
 font-family: sans-serif;
  top:20%;
}

.project-text{
  float: right;
  width: 60%;
  height: auto;
}

.project-text ul {
  color: #555;
  padding-left: 0;
  list-style-type: none;
}
.project-text ul li:before {
  content: "–";
  margin-right: .5em;
}

.project-text i{
 vertical-align: middle;
 } 

.project-text a, .project-text a:visited {
  color: #00a087;
}
.project-text a:hover, .project-text a:target {
  color: #5C97BF;
  }
.contact{
  border-top: 3px solid #FFFFFF; 
  border-top-color: rgba(0,0,0,0.35); 
  background-color:rgba(0,0,0,0.35); 

 }
.contact-title{
  	width:100%;
	position: relative;
	top: 0%;
	z-index:4;
	text-align: center;	
	padding-top:50px;
	padding-bottom:0px;
	color:#FFF;
	}
	
.contact-container{
   padding-top:50px;
   padding-bottom:50px;
   width: 40%;
   margin:auto; 
   z-index:3;
   text-align: center;
  
  }
.contact-list{
  text-align: left;
 }
 
.contact-list a, .contact-list a:visited {
  color:#FFF;
}
.contact-list a:hover, .contact-list a:target {
  color: #00a087;
  } 

header:before {
    background-image: url(http://media.cleveland.com/ent_impact_home/photo/homefront-jason-statham-rancho-usajpg-40b701f5064a161f.jpg);
}

.image-profile{
	display: flex;
	min-height: 100vh;
}




